<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>


	<connectionStrings>
		<add name="dbConnection" connectionString="data source=DHARMESHG\JAYSERVER;
                                  initial catalog=NeoSoft_Dharmesh;
                                  integrated security=SSPI;
                                  persist security info=False;
                                  Trusted_Connection=Yes" providerName="System.Data.SqlClient" />

	</connectionStrings>
	
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlClient" />
			<add name="SQLDataProvider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for MySQL" type="Astro.Portal.Data.SqlFactory, Astro.Portal.Data" />
		</DbProviderFactories>
	</system.data>
</configuration>
